# cargo
target

# rustfmt
**/*.rs.bk

# solana
.anchor
/scripts/test-ledger
/scripts/VALIDATOR_OUT

# TS
**/dist/
**/yarn-error.log

# IDEs
.idea
*.iml

# other
.env*
.DS_Store
node_modules
.idea/
test-ledger/
*.profraw
# Needed if moving to Node 24+
# .yarnrc.yml
install-state.gz

# keypairs
*.json

# Allow specific json files
!tests/fixtures/**/*.json
!programs/marginfi/tests/fixtures/**/*.json
!.vscode/tasks.json
!idls/*.json
!idls-complete/*.json
!clients/rust/marginfi-cli/assets/*.json
